# .gitignore for Jekyll website

# Jekyll built HTML
_site/
_site/*

# Cache & metadata
.jekyll-cache/
.jekyll-metadata

# local settings for bundle isolation:  <-- mkdir .gems && bundle config set --local path .gems
.bundle
.gems

# venv python 
venv/